<div class="mat-toolbar">
  <!-- <app-filters></app-filters> -->
<mat-toolbar color= "primary" class="Navbar">
 <div>
   <img
    width="240"
    alt="AA Logo"
    src="https://upload.wikimedia.org/wikipedia/commons/a/ab/AmericanAirLogoNew.svg"/>
  </div>

   <div>
<a mat-button (click)="goToPage('RecordLocator')" target="_blank">RecordLocator</a>
      <a mat-button (click)="goToPage('Flight-Info')" target="_blank">Details</a>
        <a mat-button (click)="goToPage('Maps')" target="_blank">Map</a>
      <a mat-button (click)="goToPage('Flights')" target="_blank">MainPage</a>
      <a mat-button (click)="goToPage('Routes')" target="_blank">Routes</a>
      <a mat-button (click)="goToPage('FlightsAPI ')" target="_blank">APIRoutes</a>

   </div>
  </mat-toolbar>
</div>

