<app-navbar></app-navbar>
<br>
<div><mat-card class="header-card">Flight Routes <br>
  <mat-form-field class="input-searchbar" appearance="fill">
  </mat-form-field>
  </mat-card>
  <br>

  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">Ariport Code</mat-label>
      <input matInput #message maxlength="256" placeholder="Departure:">
      <mat-hint align="start" ><strong>Departure:DFW</strong> </mat-hint>
      <mat-hint align="end" >{{message.value.length}} / 256</mat-hint>
    </mat-form-field>
  </form>

  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">Ariport Code</mat-label>
      <input matInput #message maxlength="256" placeholder="Arrival:">
      <mat-hint align="start" ><strong>Arrival:PHX</strong> </mat-hint>
      <mat-hint align="end" >{{message.value.length}} / 256</mat-hint>
    </mat-form-field>
  </form>

<form role="search" id="form">
  <input type="search" id="query" name="q"
   placeholder="RecordLocator"
   aria-label="Search through site content">
  <button (click)="goRoutes()">
    <svg viewBox="0 0 1024 1024"><path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path></svg>
  </button>
</form>
