FlightsTable{
  width: 70%;
  position:relative;
  height: 660px;
  left: 310px;
  top: 15px;
  background-color: rgb(250,250,250);
  font-size: 24px;
  font-family:AmericanSansLight,Helvetica,sans-serif;

}
