/* .example-container {
  width: 400px;
  height: 270px;
}
.example-sidenav {
  padding: 20px;
}
.example-sidenav-content {
  display: flex;
  height: 60%;
  align-items: center;
  justify-content: center;
} */
.example-card:empty{
display: none;
}
