<mat-drawer-container class="main-container" autosize-left height="200">
  <div class="filter-btn">
<button mat-raised-button (click)="drawer.toggle()" class="filter-btn">
      ARG Filter
    </button>
  </div>

  <mat-drawer #drawer class="toggle-sidenav" mode="side" >
    <p>Choose your filter:</p>

      <br>

    <label id="example-radio-group-label">Terminal Zone</label>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      [(ngModel)]="ZonesList">
      <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
        {{season}}
      </mat-radio-button>
    </mat-radio-group>
    <div>Zone Selected: {{ZonesList}}</div>
     <a (click)="showFiller = !showFiller" mat-raised-button href="https://www.google.com/" target="_blank" class="btn-search">
      SEARCH
     </a>
  </mat-drawer>


</mat-drawer-container>
