<app-navbar></app-navbar>
<br>
<div class="clearfix">


  <div class="bx2" style="background-color:rgb(13, 191, 245)">
    <h2 font-size= 20px
    font-family="AmericanSansLight,Helvetica,sans-serif">LHR
      <div>
        <img
         id="arrive"
         width="60"
         alt="Arrival icon"
         src="https://icons-for-free.com/iconfiles/png/512/flight+takeoff+24px-131985192067139416.png"/>
       </div>
    </h2>
    <p>Departure: </p>
    <p>Arrival: </p>
    </div>

    <!-- <div class="box" style="background-color:rgb(13, 191, 245)">
      <h2>JFK
        <div>
          <img
           id="inair"
           width="90"
           alt="Connection icon"
           src="http://cdn.onlinewebfonts.com/svg/img_451080.png"/> -->
         <!-- </div> -->
         <div class="bx2" style="background-color:rgb(13, 191, 245)">
          <h2 font-size= 20px
          font-family="AmericanSansLight,Helvetica,sans-serif">JFK
            <div>
              <img
               id="arrive"
               width="60"
               alt="Arrival icon"
               src="http://cdn.onlinewebfonts.com/svg/img_451080.png"/>
             </div>
          </h2>
          <p>Connection</p>
          <p>6:30pm - 9:10pm</p>
          </div>

    <div class="bx2" style="background-color:rgb(13, 191, 245)">
    <h2 font-size= 20px
    font-family="AmericanSansLight,Helvetica,sans-serif">DFW
      <div>
        <img
         id="arrive"
         width="60"
         alt="Arrival icon"
         src="https://cdn2.iconfinder.com/data/icons/airport-navigation-2/154/airport-plane-arrival-512.png"/>
       </div>
    </h2>
    <p>Departure: - </p>
    <p>Arrival: </p>
    </div>

</div>
<!-- <div class="row">
  <div class="column">
    <h2>Column 1</h2>
    <p>Some text..</p>
  </div>
  <div class="column" >
    <h2>Column 2</h2>
    <p>Some text..</p>
  </div>
  <div class="column" >
    <h2>Column 3</h2>
    <p>Some text..</p>
  </div>
</div> -->
<div class="clearfix">

  <div class="bx2" style="background-color:rgb(13, 191, 245)">
    <h2 font-size= 20px
    font-family="AmericanSansLight,Helvetica,sans-serif">LHR
      <div>
        <img
         id="arrive"
         width="60"
         alt="Arrival icon"
         src="https://icons-for-free.com/iconfiles/png/512/flight+takeoff+24px-131985192067139416.png"/>
       </div>
    </h2>
    <p>Departure: </p>
    <p>Arrival: </p>
    </div>

    <!-- <div class="box" style="background-color:rgb(13, 191, 245)">
      <h2>JFK
        <div>
          <img
           id="inair"
           width="90"
           alt="Connection icon"
           src="http://cdn.onlinewebfonts.com/svg/img_451080.png"/> -->
         <!-- </div> -->
         <div class="bx2" style="background-color:rgb(13, 191, 245)">
          <h2 font-size= 20px
          font-family="AmericanSansLight,Helvetica,sans-serif">JFK
            <div>
              <img
               id="arrive"
               width="60"
               alt="Arrival icon"
               src="http://cdn.onlinewebfonts.com/svg/img_451080.png"/>
             </div>
          </h2>
          <p>Connection</p>
          <p>6:30pm - 9:10pm</p>
          </div>

    <div class="bx2" style="background-color:rgb(13, 191, 245)">
    <h2 font-size= 20px
    font-family="AmericanSansLight,Helvetica,sans-serif">DFW
      <div>
        <img
         id="arrive"
         width="60"
         alt="Arrival icon"
         src="https://cdn2.iconfinder.com/data/icons/airport-navigation-2/154/airport-plane-arrival-512.png"/>
       </div>
    </h2>
    <p>Departure: - </p>
    <p>Arrival: </p>
    </div>

</div>
