<app-navbar></app-navbar>
<div class="main-container">

  <div class="all-headers">
    <div class="header-col">
      <table class="block">
      <th >NonStop</th>
    </table>
    <table class="nonstop">
        <th *ngFor="let column of headers">
          {{column}}
        </th>
      </table>
      <div class="tabledata">
        <tr *ngFor="let row of rows">
          <td *ngFor="let column of headers" >
            {{row[column]}}
          </td>
        </tr>
     </div>
    </div>
    </div>
    <div class="header-col">
      <table class="block">
      <th >Two-Stop</th>
    </table>
    <table class="twostop">
        <th *ngFor="let column of headers">
          {{column}}
        </th>
      </table>
      <div class="tabledata">
        <tr *ngFor="let row of rows2">
          <td *ngFor="let column of headers" >
            {{row[column]}}
          </td>
        </tr>
     </div>
    </div>
    <div class="all-headers">

      </div>
      <div class="header-col">
       <table class="block">
         <th >Multi-Stop</th>
      </table>
      <table class="multistop">
          <th *ngFor="let column of headers">
            {{column}}
          </th>
        </table>
        <div class="tabledata">
          <tr *ngFor="let row of rows3">
            <td *ngFor="let column of headers" >
              {{row[column]}}
            </td>
          </tr>
       </div>
      </div>
    <div class="all-headers">
  </div>
</div>
